body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

#animation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: grey;
}

#shape {
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    transition: height 10s linear, border-radius 1s linear;
}